.header-nav-bg-color {
  background-color: $primary-400;
  @include media-breakpoint-up(lg) { 
    background:#fff;
  }
}
.nav-item:hover {
  opacity: 0.7;
}
.navbar-shadow {
  box-shadow: 0px 4px 80px 0px #F6844D33;
}