.order-summary {
    background: linear-gradient(90deg, #FFF7F0 0%, #FFFFFF 50%, #FFF7F0 100%);
} 

.container .card {
    border-radius: 1.5rem; /* 24px */
    background-color: $light;
    border: none !important;
}

.card-title {
    color: $gray-200;
    font-weight: bold;
    font-size: 32px; /* 基本字型大小 */
}

.card-text {
    color: $gray-300;
    font-size: 16px; /* 基本字型大小 */
}

.custom-title {
    margin-bottom: 72px; /* 自訂標題底部間距 */
}

/* 手機端調整 */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px; /* 手機端卡片底部間距 */
    }
}

/* 使用 Bootstrap 斷點系統進行調整 */
/* 平板端調整（768px 到 992px） */
@media (min-width: 768px) and (max-width: 992px) {
    .card {
        margin-bottom: 30px; /* 平板端卡片底部間距 */
    }

    .card-title {
        font-size: 28px; /* 平板端字型大小調整 */
    }

    .card-text {
        font-size: 14px; /* 平板端字型大小調整 */
    }
}

/* 桌面端調整（大於992px） */
@media (min-width: 992px) {
    .card {
        margin-bottom: 40px; /* 桌面端卡片底部間距 */
    }

    .card-title {
        font-size: 36px; /* 桌面端字型大小調整 */
    }

    .card-text {
        font-size: 18px; /* 桌面端字型大小調整 */
    }
}
