<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    
    <!-- 大標題區 -->
    <div class="order-summary">
        <section class="container my-4 pt-12 pb-14 pt-lg-30 pb-lg-40">
            <div class="mb-5">
                <h1 class="text-center fw-bold custom-title">請確認以下預約資訊</h1>
            </div>
            <div class="row">
            
            <!-- 左側的訂單摘要卡片 -->
            <div class="col-lg-6 mb-5 col-md-12">
                <div class="card shadow-sm p-4">
                    <h2 class="card-title fw-bold mb-4">訂單摘要</h2>
            
                    <div class="d-flex justify-content-between mb-2">
                        <div class="card-text text-start">服務項目</div>
                        <div class="card-text text-end">遛狗散步</div>
                    </div>
            
                    <div class="d-flex justify-content-between mb-2">
                        <div class="card-text text-start">保母名稱</div>
                        <div class="card-text text-end">莉莎的家</div>
                    </div>
            
                    <div class="d-flex justify-content-between mb-2">
                        <div class="card-text text-start">日期</div>
                        <div class="card-text text-end text-nowrap">2024/10/20 - 2024/10/22</div>
                    </div>
            
                    <div class="d-flex justify-content-between mb-2">
                        <div class="card-text text-start">時間</div>
                        <div class="card-text text-end text-nowrap">17:00 - 18:00 / 共 3 天</div>
                    </div>
            
                    <div class="d-flex justify-content-between mb-2">
                        <div class="card-text text-start">價格</div>
                        <div class="card-text text-end text-nowrap">NT$ 1500</div>
                    </div>
            
                    <div class="d-flex justify-content-between mb-2">
                        <div class="card-text text-start">手續費</div>
                        <div class="card-text text-end text-nowrap">NT$ 30</div>
                    </div>
            
                    <div class="d-flex justify-content-between mt-3">
                        <div class="card-text text-start">總計金額</div>
                        <div class="fw-bold text-end">NT$ 1,530</div>
                    </div>
                </div>
            </div>
      
            
            <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script type="module" src="../assets/js/home.js"></script>
          </body>
        </html>