<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜尋保母列表</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_down" />
</head>
<body>
  <%- include('./layout/header'); -%>
  <main>
    <section class="bg-gradient-primary-banner">
      <div class="seacrch-banner">
        <div class="container position-relative pt-10 pb-17 pt-md-15 pb-md-46">
          <h1 class="text-light fs-5 fs-md-3 fs-lg-2 dog-foot-title-md w-fit-content mx-auto">
            現在就尋找您的寵物保母
          </h1>
          <div class="position-absolute top-100 start-0 end-0 translate-middle-y px-3">
            <div class="row justify-content-md-center">
              <div class="col-lg-10">
                <div class="d-none d-md-block bg-light rounded-4 shadow-primary">
                  <div class="row">
                    <div class="col-3">
                      <a href="#" class="d-flex flex-column justify-content-center align-items-center
                        type-select-btn h-100 py-5"
                        data-service-select="遛狗散步">
                        <img src="../assets/images/search-page/Dog-icon-primary.svg"
                          alt="dog-icon"
                          class="mb-3">
                        <h3 class="fs-7 transition-base">
                          遛狗散步
                        </h3>
                      </a>
                    </div>
                    <div class="col-3">
                      <a href="#" class="d-flex flex-column justify-content-center align-items-center
                        type-select-btn h-100 py-5 active"
                        data-service-select="日間托養">
                        <img src="../assets/images/search-page/Sun-icon-primary.svg"
                          alt="sun-icon"
                          class="mb-3">
                        <h3 class="fs-7 transition-base">
                          日間托養
                        </h3>
                      </a>
                    </div>
                    <div class="col-3">
                      <a href="#" class="d-flex flex-column justify-content-center align-items-center
                        type-select-btn h-100 py-5"
                        data-service-select="外宿寄養">
                        <img src="../assets/images/search-page/Home-icon-primary.svg"
                          alt="home-icon"
                          class="mb-3">
                        <h3 class="fs-7 transition-base">
                          外宿寄養
                        </h3>
                      </a>
                    </div>
                    <div class="col-3">
                      <a href="#" class="d-flex flex-column justify-content-center align-items-center
                        type-select-btn h-100 py-5"
                        data-service-select="上門餵食">
                        <img src="../assets/images/search-page/Bone-icon-primary.svg"
                          alt="bone-icon"
                          class="mb-3">
                        <h3 class="fs-7 transition-base">
                          上門餵食
                        </h3>
                      </a>
                    </div>
                  </div>
                  <div class="py-4 px-6 border-top border-gray-800">
                    <div class="row gx-4 align-items-end">
                      <div class="col-3">
                        <p class="gray-500 mb-2">您的寵物</p>
                        <div class="dropdown petNumDropdown">
                          <a href="#" type="button"
                            class="custom-dropdown-toggle w-100 d-flex justify-content-between
                              align-items-center"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false">
                            <div class="d-flex align-items-center" >
                              <img src="../assets/images/search-page/Pet-icon.svg"
                                class="me-2"
                                alt="pet-icon">
                              <p data-petNum-show>貓 / 狗</p>
                            </div>
                            <span class="material-symbols-outlined text-gray-500">
                              keyboard_arrow_down
                            </span>
                          </a>
                          <ul class="dropdown-menu py-4 w-100">
                            <li>
                              <a class="dropdown-item d-block py-2 px-4 mb-2 bg-gray-1000-hover d-flex justify-content-between align-items-center"
                                href="#">
                                <span>貓</span>
                                <div class="d-flex align-items-center">
                                  <button type="button"
                                    class="btn p-0">
                                    <i class="bi bi-dash-circle fs-6 text-gray-800 pe-none"
                                      data-count-btn="-"
                                      data-pet-type="cat">
                                    </i>
                                  </button>
                                  <p class="mx-3 text-gray-500" data-cat-num>0</p>
                                  <button type="button"
                                    class="btn p-0">
                                    <i class="bi bi-plus-circle fs-6 text-gray-500"
                                     data-count-btn="+"
                                     data-pet-type="cat">
                                    </i>
                                  </button>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item d-block py-2 px-4 mb-2 bg-gray-1000-hover d-flex justify-content-between align-items-center"
                                href="#">
                                <span>狗</span>
                                <div class="d-flex align-items-center">
                                  <button type="button" class="btn p-0">
                                    <i class="bi bi-dash-circle fs-6 text-gray-800 pe-none"
                                      data-count-btn="-"
                                      data-pet-type="dog">
                                    </i>
                                  </button>
                                  <p class="mx-3 text-gray-500" data-dog-num>0</p>
                                  <button type="button" class="btn p-0">
                                    <i class="bi bi-plus-circle fs-6 text-gray-500"
                                      data-count-btn="+"
                                      data-pet-type="dog">
                                    </i>
                                  </button>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-3">
                        <p class="gray-500 mb-2">您的地區</p>
                        <div class="dropdown">
                          <a href="#" type="button"
                            class="custom-dropdown-toggle w-100 d-flex justify-content-between
                              align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <img src="../assets/images/search-page/map-icon.svg"
                                class="me-2"
                                alt="map-icon">     
                              <p data-area-show>地區</p>
                            </div>
                            <span class="material-symbols-outlined text-gray-500">
                              keyboard_arrow_down
                            </span>
                          </a>
                          <ul class="dropdown-menu py-4 w-100 city-select-container"
                            data-city-select>
                            <li>
                              <a class="dropdown-item py-2 px-4 mb-2 bg-gray-1000-hover"
                                href="#">
                                新北市
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-3">
                        <p class="gray-500 mb-2">照顧期間</p>
                        <div class="position-relative">
                          <input type="text"
                            id="date-picker-desk"
                            class="custom-dropdown-toggle border-0 w-100"
                            readonly>
                          <div class="d-flex align-items-center position-absolute top-50 start-0   translate-middle-y ps-4 pe-none" data-date-show>
                            <img src="../assets/images/search-page/calender-icon.svg"
                              class="me-2"
                              alt="map-icon">
                            日期
                          </div>
                          <span class="material-symbols-outlined text-gray-500 position-absolute top-50 end-0 translate-middle-y pe-4 pe-none">
                            keyboard_arrow_down
                          </span>
                        </div>
                      </div>
                      <div class="col-3">
                        <a href="#" class="btn btn-primary d-block">
                          搜尋保母
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-md-none p-3 rounded-4 bg-light d-flex align-items-center shadow-primary">
                  <a href="#" class="custom-dropdown-toggle d-block me-3 flex-grow-1"
                    data-bs-toggle="modal" data-bs-target="#sitter-search-modal">
                    您的需求
                  </a>
                  <a href="#" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#sitter-search-modal">
                    搜尋
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gradient-light pt-14 pb-12 pt-md-55 pb-md-30">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-6 mb-md-10">
          <h2 class="fs-6 fs-lg-3">推薦保母</h2>
          <div class="dropdown">
            <a href="#" type="button"
              class="custom-dropdown-toggle w-100 d-flex justify-content-between
                align-items-center"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="me-11 me-lg-31">排序方式</span>
              <span class="material-symbols-outlined text-gray-500">
                keyboard_arrow_down
              </span>
            </a>
            <ul class="dropdown-menu py-4 w-100">
              <li>
                <a class="dropdown-item py-2 px-4 mb-2 bg-gray-1000-hover"
                  href="#">
                  價錢: 高 => 低
                </a>
              </li>
              <li>
                <a class="dropdown-item py-2 px-4 mb-2 bg-gray-1000-hover"
                  href="#">
                  價錢: 低 => 高
                </a>
              </li>
              <li>
                <a class="dropdown-item py-2 px-4 mb-2 bg-gray-1000-hover"
                  href="#">
                  距離: 近 => 遠
                </a>
              </li>
              <li>
                <a class="dropdown-item py-2 px-4 mb-2 bg-gray-1000-hover"
                  href="#">
                  距離: 遠 => 近
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row gy-6 gy-md-10 mb-8 mb-lg-12" data-sitter-container>
          <div class="col-md-6 col-lg-3">
            <div class="card-sitter position-relative">
              <picture>
                <source media="(min-width:996px)"
                  srcset="../assets/images/search-page/pet-sitter/lg/sitter-1.png">
                <img src="../assets/images/search-page/pet-sitter/sm/sitter-1.png"
                  class="card-sitter__img object-fit-cover mb-4"
                  alt="sitter-1-sm">
              </picture>
              <h3 class="fs-7 text-gray-200 mb-2">新莊狗狗日托</h3>
              <div class="d-flex align-items-center mb-1 mb-md-2">
                <div class="d-flex align-items-center me-1">
                  <img src="../assets/images/search-page/star-primary.svg"
                    alt="icon-star"
                    class="me-1">
                  <span class="fs-10 text-primary fw-bold me-1">4.2</span>
                  <span class="fs-10 text-gray-500">(4)</span>
                </div>
                <div class="d-flex align-items-center me-1">
                  <img src="../assets/images/search-page/map-primary.svg"
                    alt="icon-map"
                    class="me-1">
                  <p class="fs-10 text-gray-500">新莊區,新北市 (8.2km)</p>
                </div>
                <div class="d-flex align-items-center">
                  <img src="../assets/images/search-page/member-primary.svg"
                    alt="icon-map"
                    class="me-1">
                  <span class="fs-10 text-gray-500">6</span>
                </div>
              </div>
              <p class="fs-10 text-gray-200 mb-2 mb-md-4">
                目前到府服務經驗4年多，自己本身也有養狗養貓，愛動物的我，有空也會去外面餵浪...
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-7 fw-bold text-gray-200">
                  NT$ 550
                  <span class="fs-11 text-gray-500 fw-normal">每次</span>
                </p>
                <a href="#" class="fs-10 text-primary fw-bold opacity-70-hover transition-base
                  stretched-link">
                  了解更多
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-list justify-content-center">
          <a href="#" class="pagination-list-button disabled">
            <i class="bi bi-arrow-left fs-6"></i>
          </a>
          <a href="#" class="pagination-list-item active">1</a>
          <a href="#" class="pagination-list-item">2</a>
          <a href="#" class="pagination-list-item">3</a>
          <a href="#" class="pagination-list-item">...</a>
          <a href="#" class="pagination-list-item">12</a>
          <a href="#" class="pagination-list-button">
            <i class="bi bi-arrow-right fs-6"></i>
          </a>
        </div>
      </div>
    </section>
  </main>
  <div class="modal fade sitter-search-modal"
      id="sitter-search-modal"
      tabindex="-1"
      aria-labelledby="sitter-search-modal"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body pb-0">
          <div class="px-2">
            <div class="d-flex">
              <div class="px-1 flex-grow-1">
                <a href="#" class="d-flex flex-column justify-content-center align-items-center
                  type-select-btn h-100 py-4"
                  data-service-select="遛狗散步">
                  <img src="../assets/images/search-page/Dog-icon-primary.svg"
                    alt="dog-icon"
                    class="mb-3">
                  <h3 class="fs-9 transition-base">
                    遛狗散步
                  </h3>
                </a>
              </div>
              <div class="px-1 flex-grow-1">
                <a href="#" class="d-flex flex-column justify-content-center align-items-center
                  type-select-btn h-100 py-4 active"
                  data-service-select="日間托養">
                  <img src="../assets/images/search-page/Sun-icon-primary.svg"
                    alt="sun-icon"
                    class="mb-3">
                  <h3 class="fs-9 transition-base">
                    日間托養
                  </h3>
                </a>
              </div>
              <div class="px-1 flex-grow-1">
                <a href="#" class="d-flex flex-column justify-content-center align-items-center
                  type-select-btn h-100 py-4"
                  data-service-select="外宿寄養">
                  <img src="../assets/images/search-page/Home-icon-primary.svg"
                    alt="home-icon"
                    class="mb-3">
                  <h3 class="fs-9 transition-base">
                    外宿寄養
                  </h3>
                </a>
              </div>
              <div class="px-1 flex-grow-1">
                <a href="#" class="d-flex flex-column justify-content-center align-items-center
                  type-select-btn h-100 py-4"
                  data-service-select="上門餵食">
                  <img src="../assets/images/search-page/Bone-icon-primary.svg"
                    alt="bone-icon"
                    class="mb-3">
                  <h3 class="fs-9 transition-base">
                    上門餵食
                  </h3>
                </a>
              </div>
            </div>
          </div>
          <div class="py-6 px-2 border-top border-bottom border-gray-800">
            <div class="mb-4">
              <p class="gray-500 mb-2">您的寵物</p>
              <div class="dropdown petNumDropdown">
                <a href="#" type="button"
                  class="custom-dropdown-toggle w-100 d-flex justify-content-between
                    align-items-center"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false">
                  <div class="d-flex align-items-center" >
                    <img src="../assets/images/search-page/Pet-icon.svg"
                      class="me-2"
                      alt="pet-icon">
                    <p data-petNum-show>貓 / 狗</p>
                  </div>
                  <span class="material-symbols-outlined text-gray-500">
                    keyboard_arrow_down
                  </span>
                </a>
                <ul class="dropdown-menu py-4 w-100">
                  <li>
                    <a class="dropdown-item d-block py-2 px-4 mb-2 bg-gray-1000-hover d-flex justify-content-between align-items-center"
                      href="#">
                      <span>貓</span>
                      <div class="d-flex align-items-center">
                        <button type="button"
                          class="btn p-0">
                          <i class="bi bi-dash-circle fs-6 text-gray-800 pe-none"
                            data-count-btn="-"
                            data-pet-type="cat">
                          </i>
                        </button>
                        <p class="mx-3 text-gray-500" data-cat-num>0</p>
                        <button type="button"
                          class="btn p-0">
                          <i class="bi bi-plus-circle fs-6 text-gray-500"
                            data-count-btn="+"
                            data-pet-type="cat">
                          </i>
                        </button>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item d-block py-2 px-4 mb-2 bg-gray-1000-hover d-flex justify-content-between align-items-center"
                      href="#">
                      <span>狗</span>
                      <div class="d-flex align-items-center">
                        <button type="button" class="btn p-0">
                          <i class="bi bi-dash-circle fs-6 text-gray-800 pe-none"
                            data-count-btn="-"
                            data-pet-type="dog">
                          </i>
                        </button>
                        <p class="mx-3 text-gray-500" data-dog-num>0</p>
                        <button type="button" class="btn p-0">
                          <i class="bi bi-plus-circle fs-6 text-gray-500"
                            data-count-btn="+"
                            data-pet-type="dog">
                          </i>
                        </button>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mb-4">
              <p class="gray-500 mb-2">您的地區</p>
              <div class="dropdown">
                <a href="#" type="button"
                  class="custom-dropdown-toggle w-100 d-flex justify-content-between
                    align-items-center"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/search-page/map-icon.svg"
                      class="me-2"
                      alt="map-icon">     
                    <p data-area-show>地區</p>
                  </div>
                  <span class="material-symbols-outlined text-gray-500">
                    keyboard_arrow_down
                  </span>
                </a>
                <ul class="dropdown-menu py-4 w-100 city-select-container"
                  data-city-select>
                  <li>
                    <a class="dropdown-item py-2 px-4 mb-2 bg-gray-1000-hover"
                      href="#">
                      新北市
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mb-4">
              <p class="gray-500 mb-2">照顧期間</p>
              <div class="position-relative">
                <input type="text"
                  id="date-picker-phone"
                  class="custom-dropdown-toggle border-0 w-100"
                  readonly>
                <div class="d-flex align-items-center position-absolute top-50 start-0 translate-middle-y
                  ps-4 pe-none" data-date-show>
                  <img src="../assets/images/search-page/calender-icon.svg"
                    class="me-2"
                    alt="map-icon">
                  日期
                </div>
                <span class="material-symbols-outlined text-gray-500 position-absolute top-50 end-0 translate-middle-y pe-4 pe-none">
                  keyboard_arrow_down
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="px-6 pt-6 pb-8 d-flex">
          <button type="button" class="btn btn-outline-primary w-100 me-3"
            data-bs-dismiss="modal">
            取消
          </button>
          <a href="search.html"
            data-bs-dismiss="modal"
            class="btn btn-primary w-100">
            搜尋
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/search.js"></script>
</body>
</html>